@font-face {
  	font-family: 'New cicle Light';
  	src: url('../fonts/new_cicle_fina-webfont.eot'); /* IE9 Compat Modes */
  	src: url('../fonts/new_cicle_fina-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       	 url('../fonts/new_cicle_fina-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/new_cicle_fina-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/new_cicle_fina-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/new_cicle_fina-webfont.svg#new_ciclefina') format('svg'); /* Legacy iOS */
   font-weight: normal;
   font-style: normal;
}

@font-face {
  	font-family: 'New cicle Bold';
  	src: url('../fonts/new_cicle_gordita-webfont.eot'); /* IE9 Compat Modes */
  	src: url('../fonts/new_cicle_gordita-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       	 url('../fonts/new_cicle_gordita-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/new_cicle_gordita-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/new_cicle_gordita-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/new_cicle_gordita-webfont.svg#new_ciclefina') format('svg'); /* Legacy iOS */
   font-weight: normal;
   font-style: normal;
}