#facebook{
	background:url(../images/SocialMedia.png) 0 0 no-repeat;
}

#facebook:hover{
	background:url(../images/SocialMedia.png) 0 -60px no-repeat;
}

#facebook:active{
	background:url(../images/SocialMedia.png) 0 -120px no-repeat;
}

#twitter{
	background:url(../images/SocialMedia.png) -60px 0 no-repeat;
}

#twitter:hover{
	background:url(../images/SocialMedia.png) -60px -60px no-repeat;
}

#twitter:active{
	background:url(../images/SocialMedia.png) -60px -120px no-repeat;
}

#linkedin{
	background:url(../images/SocialMedia.png) -120px 0 no-repeat;
}

#linkedin:hover{
	background:url(../images/SocialMedia.png) -120px -60px no-repeat;
}

#linkedin:active{
	background:url(../images/SocialMedia.png) -120px -120px no-repeat;
}

#wordpress{
	background:url(../images/SocialMedia.png) -180px 0 no-repeat;
}

#wordpress:hover{
	background:url(../images/SocialMedia.png) -180px -60px no-repeat;
}

#wordpress:active{
	background:url(../images/SocialMedia.png) -180px -120px no-repeat;
}